@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Roboto+Condensed:wght@300;400&display=swap');
//Fuentes
$roboto--condensed:'Roboto Condensed';
$open--sans:'Open Sans';
$celeste: #96CCE8;
$blanco: #fff;